.container{
    margin: 40px;

    .title{
        font-weight: bold;
    }
}

.contentContainer{
    padding: 10px 20px;
    display: grid;
    grid-template-columns: (2fr 2fr 1fr);
    max-width: calc(100% - 40px);

    span{
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        padding: 10px;
        color: #2B2B2B;
        font-weight: lighter;
        font-size: 14px;
        max-width: 25vw;

        &.header{
            font-weight: bold;
            text-align: left;
            color: #545454;
            font-size: 15px;
        }
    }
}

.footer{

    span{
        color: #494949;
        font-size: 13px;
    }

    .paginationContainer{
        position: absolute;
        display: inline-flex;
        justify-content: flex-end;
        right: 0;
        margin-right: 40px;

        .navIcon{
            display: inline;

            &:hover{
                cursor: pointer;
            }
        }
    }

    .numberContainer{
        padding: 5px;

        &:hover{
            cursor: pointer;
        }

        &.selected{
            border: 1px solid grey;
            border-radius: 5px;
        }
    }
}